h1{
    color: blueviolet;
    font-size: 80px;
    font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.paragrafos{
    background-color: aquamarine;
    color: yellow;
}

#idParagrafo{
    background-color: blueviolet;
    color: blue;
}


/* Comportamento quando aberto em telas menores */
@media only screem and (max-width: 700px) {
    #divTextoAboutMe{
        display: flex;
        
    }

    #yTVideo{
        width: 30px;
    }
}